---
pageable: true
---

<% page_articles.each_with_index do |article, i| %>
  <div>
  <h2><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></h2>
  <%= article.summary(1000) %>
  <%= link_to 'Read more…', article %>
  </div>
<% end %>

<div style="  display: flex;
  justify-content: center;">

<% if paginate && num_pages > 1 %>
  <% if prev_page %>
    <p style="  padding: 10px;
  margin: 0px;"><%= link_to 'Newer', prev_page, :class => "navbtn" %></p>
  <% end %>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p style="  padding: 10px;
  margin: 0px;"><%= link_to 'Older', next_page, :class => "navbtn" %></p>
  <% end %>
<% end %>
</div>
